
@if (Elements != null && Elements.Any() != false)
{
    <h3>@Title</h3>

    @foreach (var item in Elements)
    {
        var id = new Random().Next(1000, 5000);
        <input type="radio" name="@inputId" id="@id" value="@item.Key" @onchange="OnChanged" checked=@(Result.Equals(item.Key)) />
        <label for="@id">@item.Value</label>
    }
}


@code {

    int inputId = new Random().Next(1000, 5000);

    [Parameter]
    public string Title { get; set; } = "Заголовок компонента";

    [Parameter]
    public IEnumerable<KeyValuePair<Guid, String>> Elements { get; set; }

    [Parameter]
    public Guid Result { get; set; } = Guid.Empty;

    [Parameter]
    public EventCallback<Guid> ResultChanged { get; set; }

    private Task OnChanged(ChangeEventArgs e)
    {
        Result = new Guid(e.Value.ToString());

        return ResultChanged.InvokeAsync(Result);
    }
}
